@font-face {
	font-family: "Flaticon";
	src: url("fonts/flaticon.eot");
	src: url("fonts/flaticon.eot#iefix") format("embedded-opentype"),
	url("fonts/flaticon.woff") format("woff"),
	url("fonts/flaticon.ttf") format("truetype"),
	url("fonts/flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-artist11:before {
	content: "\e000";
}
.flaticon-book-bag:before {
	@extend .glyph;
	content: "\e001";
}
.flaticon-circles28:before {
	@extend .glyph;
	content: "\e002";
}
.flaticon-computermonitor:before {
	@extend .glyph;
	content: "\e003";
}
.flaticon-geometry21:before {
	@extend .glyph;
	content: "\e004";
}
.flaticon-graphicseditor44:before {
	@extend .glyph;
	content: "\e005";
}
.flaticon-graphicseditor49:before {
	@extend .glyph;
	content: "\e006";
}
.flaticon-heart175:before {
	@extend .glyph;
	content: "\e007";
}
.flaticon-new100:before {
	@extend .glyph;
	content: "\e008";
}
.flaticon-profile44:before {
	@extend .glyph;
	content: "\e009";
}
.flaticon-programminglanguage5:before {
	@extend .glyph;
	content: "\e00a";
}
.flaticon-suitcase59:before {
	@extend .glyph;
	content: "\e00b";
}
