///fuentes y colores

//colores

$gris: rgba(20, 20, 20, 1);
$gris2: rgba(32,32,32,1);
$gris-mid: rgba(32,32,32,0.6);
$gris3: rgb(200, 230, 228);
$rojo: rgba(217,51,28,1);
$amarillo: rgba(241,196,15,1);
$verde: rgba(39,174,96,1);



///fuentes

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600);

@font-face {
    font-family: 'avenir-blck';
    src: url('fonts/AvenirLTStd-Black.eot');
    src: url('fonts/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Black.ttf') format('truetype'),
         url('fonts/AvenirLTStd-Black.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenir-book';
    src: url('fonts/AvenirLTStd-Book.eot');
    src: url('fonts/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Book.ttf') format('truetype'),
         url('fonts/AvenirLTStd-Book.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'avenir-light';
    src: url('fonts/AvenirLTStd-Light.eot');
    src: url('fonts/AvenirLTStd-Light.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirLTStd-Light.ttf') format('truetype'),
         url('fonts/AvenirLTStd-Light.svg#opficioregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

$stack: 'avenir-book', sans-serif;
$titulo: 'avenir-blck', sans-serif;
$light: 'avenir-light', sans-serif;
.glyph{font-family: 'Flaticon'; padding: 0px 4px;}

//mixins

@mixin avenir-title{
    font-family: $titulo;
    text-transform: uppercase;
}

@mixin light-title{
    font-family: $stack;
    text-transform: title;
}

//social iconos
