//mixins de elementos

@mixin blur($cant) {
  -webkit-filter: blur($cant);
  -moz-filter: blur($cant);
  -ms-filter: blur($cant);
  filter: blur($cant);
}
@mixin wide-element {
  width: 45%;
  margin: 10px;
}
@mixin element {
  width: 20%;
  margin: 10px;
}
@mixin card($ancho, $img-alto){
  width: $ancho;
  height: auto;
  border: solid 1px $gris3;
  @include ease(all);
  .img-holder{
    position: relative;
    i{
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      padding: 8px 4px;
      z-index: 10;
      @include ease(all);
      cursor: pointer;
      &:hover{
        border-radius: 100%;
        background: rgba($verde, 0.7);
      }
    }
    .titulo{
      position: absolute;
      bottom: 5px;
      left: 0px;
      padding: 12px 0 10px 0px;
      width: 100%;
      color: white;
      @include g-bg;
      i.cat-ico{
        bottom: 0px;
        top: auto;
        left: auto;
        &:hover{
          background: none;
          color: $verde;
        }
      }
      h2{
        font-size: medium;
        padding: 2px 8px;
      }
      p{ padding: 1px 8px; }
    }
    figure{
      width: 100%;
      height: $img-alto;
      overflow: hidden;
      margin: 0px;
      @include ease(all);
      img{
        width: 100%;
        height: auto;
        @include ease(all);
      }
    }
  }
  section{
    padding: 10px;
    color: $gris-mid;
    border-bottom: 2px solid $gris3;
  }
  .boton{
    padding: 10px;
    width: 100%;
    display: block;
    button{
      padding: 8px;
      cursor: pointer;
      color: $verde;
      background: white;
      border: solid $gris3 1px;
      @include ease(all);
      &:hover{
        background: $gris3;
      }
    }
  }
  &:hover{
    @include lift;
  }
}
@mixin flex-wrapp {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.lock-body{
	height: 100%;
	overflow-y: hidden;
}

@media all and(min-width: 800px) {
	::-webkit-scrollbar{
		background: $gris2;
		width: 8px;
	}
	::-webkit-scrollbar-thumb{
		background: $verde;
	}
}

//bg-side
.blur-bg{
  display: none;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 10;
  position: fixed;
  background: rgba($gris2, 0.6);
  @include ease(all);
}
.bg-on{
  display: block;
}
.on{
  color: white;
}

//cards sizes
.wide{
  width: 60% !important;
}
.sharing{
  display: none;
  background: rgba($gris, 0.8);
  padding: 4px;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;

  .tweet-button{
    display: block;
    position: relative;
    top: 100px;
    width: 80%;
    background: #55acee;
    padding: 10px;
    color: white;
    margin: 8px auto;
    text-align: center;
    &:hover{
      background: darken(#55acee, 15%);
    }
  }
  .fb-button{
    display: block;
    position: relative;
    top: 100px;
    width: 80%;
    background:  #3b5998;
    padding: 10px;
    color: white;
    margin: 8px auto;
    text-align: center;
    &:hover{
      background: darken( #3b5998, 15%);
    }
  }
}

//content
@mixin page-content {
  figure.cover{
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-size: cover;
    background-position: center;
    span{
      position: absolute;
      bottom: 40px;
      width: 100%;
      z-index: 5;
      @include g-bg;
      h1{
        color: white;
        font-size: 45px;
        text-align: center;
        font-family: $titulo;
        @include txt-lift;
      }
    }
  }
  article.p-content{
    padding: 0px 0px;
    .cat-tag{
      text-align: center;
      color: $gris3;
      font-size: 22px;
      font-style: italic;
      margin: 10px 0px;
    }
  }
}

//gradients
@mixin g-bg{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */

}
