@media all and (min-width: 300px) and (max-width: 800px){
  aside{
    @include ease(all);
    display: block;
    width: 65%;
    left: -600px;
    overflow: scroll;
    .n-wrap{
      .profile{
        width: 100%;
        figure{
          text-align: center;
          width: 80px;
          height: 80px;
        }
      }
    }

  }
  #content{
    margin: 0px;
    width: 100% !important;
    header{
      display: block;
      i{
        font-weight: bold;
        margin: 0 10px;
        position: relative;
        font-size: xx-large;
        vertical-align: middle;
        z-index: 100;
      }
      .mob-head{
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
        h1{
          display: inline;
          color: $verde;
          font-size: xx-large;
          text-transform: capitalize;
        }
        p{
          font-size: medium;
        }
      }
    }
    .content-wrap{
      width: 100%;
      article.item{
        width: 42%;  
        .img-holder{
          i{
            top: 0px;
            right: 0px;
          }
          .titulo{
            h2{
              font-size: small;
            }
            p{font-size: x-small;}
          }
        }
        section{
          font-size: small;
        }
      }
    }
  }
  @import "swipe-menu";
  #p-holder{
    width: 85%;
    i.close{
      top: 0px;
      left: 0px;
    }
    figure{
      height: 200px;
      img{
        height: inherit;
      }
      .p-name{
         h1{font-size: x-large; }
      }
    }
  }

  //page
  #page-holder{
    width: 100%;
    margin: 0 auto;
    header{
      display: block;
      i{
        font-weight: bold;
        margin: 0 10px;
        position: relative;
        vertical-align: middle;
        z-index: 100;
      }
      .mob-head{
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
        h1{
          display: inline;
          color: $verde;
          font-size: x-large;
        }
        p{
          margin: -10px 0 0 0;
          font-size: medium;
        }
      }
    }
    article{
      padding: 0px 8px;
    }
  }

}
