//menu-movil

aside{
	@include ease(all);
}
.open-sidebar{
	@include ease(all);
	left: 0px !important;
	display: block !important;
}
.close-sidebar{
	@include ease(all);
	left: -450px;
}
.swipe-area {
	display: block;
	position: fixed;
	width: 50px;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 9;
	@include vendor(transition, left 0.3s ease-in-out);
}
.swipe-on{
	left: 200px;
	width: 100%;
	z-index: 12;
	// background: rgba(yellow, 0.4);
	@include vendor(transition, left 0.3s ease-in-out);
}
//bg-side
.on{
	color: white;
}
