/* CSS Document */
/*
Theme Name: portfolio personal
Theme URI: http://www.plusdigital.com.ve
Description: Tema personalizado para mi portfolio personal
Version: 3.0
Author: Jose Avila
Author URI: http://jose-avila.hostei.com
 */
/* _   _   _____   _____   _   _   _____        _____   __   _        _     _   _____   __   _   _____   ______  _   _   _____   _           ___
| | | | | ____| /  ___| | | | | /  _  \      | ____| |  \ | |      | |   / / | ____| |  \ | | | ____| |___  / | | | | | ____| | |         /   |
| |_| | | |__   | |     | |_| | | | | |      | |__   |   \| |      | |  / /  | |__   |   \| | | |__      / /  | | | | | |__   | |        / /| |
|  _  | |  __|  | |     |  _  | | | | |      |  __|  | |\   |      | | / /   |  __|  | |\   | |  __|    / /   | | | | |  __|  | |       / / | |
| | | | | |___  | |___  | | | | | |_| |      | |___  | | \  |      | |/ /    | |___  | | \  | | |___   / /__  | |_| | | |___  | |___   / /  | |
|_| |_| |_____| \_____| |_| |_| \_____/      |_____| |_|  \_|      |___/     |_____| |_|  \_| |_____| /_____| \_____/ |_____| |_____| /_/   |_| */

//estilo principal
@import 'reset';
@import 'effects';
@import 'flaticon';
@import 'fuentes-colores';
@import 'mixin';

body{
	font-family: $stack;
}

.content-wrap .fa-spinner{
	position: relative;
	display: block;
	top: 20vh;
	margin: 0 auto;
}

/// sidebar
aside{
    max-width: 250px;
    height: 100%;
    padding: 0 10px;
    background: $gris;
    position: fixed;
    display: inline-block;
    vertical-align: top;
    color: white;
    z-index: 15;
    .n-wrap{
      position: relative;
      display: inline-block;
      .profile{
          width: 90%;
					margin: 18px auto;
					background: white;
					border-radius:5px;
          overflow: hidden;
          text-align: center;
         figure{
              width: 80px;
              height: 80px;
							margin: -50px auto 0 auto;
              overflow: hidden;
              border-radius: 100%;
              border: solid 4px white;
              img{
                  width: 100%;
                  height: inherit;
              }
         }
				 .cover{
					 width: 100%;
					 height: 100px;
					 overflow: hidden;
					 img{
						 width: 100%;
						 height: initial;
					 }
				 }
      	section{
					padding: 8px;
					h1{
						font-family: $titulo;
						font: $gris 30px;
						margin: 0px auto;
						a{color: $gris2;}
					}
					p{
						margin: 0px auto;
						color: $gris2;
					}
				}
      }
      nav{
        font-size: 18px;
				border-top: 1px solid $gris3;
        ul{
          margin: 20px 0px 0px 0px;
          padding: 0px 0px 0px 10px;
          li{
              list-style: none;
              margin-left: 5px;
							padding: 4px 0px;

          }
          a{
            color: $gris3;
            text-decoration: none;
            font-size: 14px;
            text-transform: capitalize;
            @include ease(all);
						i{
							margin: 0 6px 0 0;
							padding: 0px;
							vertical-align: middle;
							&:before{
								margin-left: 0px !important;
							}
						}
            &:hover{
              color: white;
            }
          }
					ul{
						margin: 4px 0px;
					}
        }
        .trabajos {
          font-weight:bold; text-transform: uppercase; color: $rojo;
					border-top: solid 1px $gris3;
					margin: 4px 0px;
          @extend .flaticon-book-bag;
        }
        .yo {
          font-weight:bold; text-transform: uppercase; color: $amarillo;
					border-top: solid 1px $gris3;
					margin: 4px 0px;
          @extend .flaticon-profile44;
        }
        .cont {
          font-weight:bold; text-transform: uppercase; color: $verde;
					border-top: solid 1px $gris3;
					margin: 4px 0px;
          @extend .flaticon-new100;
        }
        .seccion{
            text-transform: uppercase;
            margin: 0px;

        }
      }
			.contacto{
				width: 80%;
				margin: 40px 0px 10px 20px;
				ul{
					li{
						display: inline-block;
						margin: 8px 5px;
						a{
							color:white;
							font-size: 20px;
							&:hover{
								@include ease(all);
								color: $verde;
							}
						}
					}
				}
				.copyright{
					margin: 10px 0px;
					font-size: x-small;
					a{color: $verde;}
				}
			}
		}
}

#wrap{
	overflow: inherit;
	width: 100%;
	height: 100vh;
	.navigation{
		position: fixed;
		bottom: 20px;
		padding: 0 12px;
		width: 75%;
		display: flex;
		justify-content: space-between;
		.alignleft, .alignright{
			a{ text-decoration: none;color: $verde;}
		}
	}
}

//contenido
#content{
    // height: 100% !important;
    margin: 0 0 0 300px;
    header{display: none;}
    h1{
      font-family: $titulo;
      font: $gris 30px;
    }
    .content-wrap{
      position: relative;
      article.item{
          margin: 15px 10px;
          position: relative;
          vertical-align: top;
          @include card(30%, auto);
      }

			.cat-head{
				aside{display: none;}
			}
			.fa-pulse{text-align: center; margin: 0 auto; font-size: 40px;}
			#wrap{position: relative; height: 100%; overflow: visible;}
			.swipe-area{display: none !important;}
			aside{display: none !important;}
			header, .blur-bg{display: none;}
			#content{
				margin:0px;
				width: 100%;
				height: 100% !important;
			}
    }


}

#p-holder{
    width: 75%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -800px;
    background: white;
    display: none;
    overflow-x: scroll;
    z-index: 15;
    @include ease(all);
		.fa-pulse{text-align: center; margin: 0 auto; font-size: 40px;}
    i.close{
      position: absolute;
      top: 50px;
      left: 20px;
      color: white;
			border: 2px solid white;
			background: rgba($gris, 0.5);
      z-index: 200;
			padding: 6px;
      cursor: pointer;
			border-radius: 100%;
			font-size: large;
			@include ease(all);
      cursor: pointer;
      &:hover{
        background: rgba($verde, 0.7);
			}
    }
    div.cover{
			overflow: hidden;
			position: relative;
			margin: 0 0 0 -5%;
      span{
        position: absolute;
        bottom: 0px;
        width: 100%;
				z-index: 20;
				@include g-bg;
        h1{
          color: white;
          font-size: xx-large;
					padding: 10px 0 20px 0;
          text-align: center;
          font-family: $titulo;
        }
      }
			.bg{
					height: 50vh;
					background-size: cover !important;
					background-position: center !important;
					background-repeat: no-repeat !important;
					@include blur(6px);
			 }
    }

    article.p-content{
      padding: 0px 30px;
      .cat-tag{
        text-align: center;
        color: $gris2;
        font-size: 22px;
        font-style: italic;
        margin: 10px 0px;
				i{padding: 0px 10px;}
      }
    }
}

#page-holder{
	padding: 0px;
	header{display: none;}
	.page{
		@include page-content;
		width: 100%;
	}
}

@import "mobile";
