@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-artist11:before {
	content: "\e000";
}
.flaticon-curriculum4:before {
	content: "\e001";
}
.flaticon-envelope42:before {
	content: "\e002";
}
.flaticon-geometry21:before {
	content: "\e003";
}
.flaticon-graphicseditor44:before {
	content: "\e004";
}
.flaticon-heart175:before {
	content: "\e005";
}
.flaticon-location74:before {
	content: "\e006";
}
.flaticon-new100:before {
	content: "\e007";
}
.flaticon-professional5:before {
	content: "\e008";
}
.flaticon-profile44:before {
	content: "\e009";
}
.flaticon-programming2:before {
	content: "\e00a";
}
.flaticon-suitcase59:before {
	content: "\e00b";
}
